body{
    margin: 0;
    font-family: 'Comic Sans MS';
    background-color: #4CBB17;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.navbar{
    background-color: #2E5DB5;
}

h2 {
  text-align: center;
  text-decoration: underline;
}