body{
    margin: 0;
    font-family: 'Comic Sans MS';
    background-color: #4CBB17;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}

.navbar{
    background-color: #2E5DB5;
}

h2 {
  text-align: center;
  text-decoration: underline;
  color: white;
}

img {
  border-radius: 10px; /* Adjust the value to change the roundness of the corners */
  border: 2px solid #000; /* Black border with a width of 2px */
  overflow: hidden; /* Ensures the rounded corners are applied */
  max-width: 25%;
}
